*.directory
input/art.csv
input/basic_cd4.csv
input/ce.csv
input/center.csv
input/tblCENTER.csv
input/ce_tb.csv
input/ce_cancer.csv
input/basic.csv
input/follow.csv
input/lab_cd4.csv
input/lab_rna.csv
input/lab_rna_abs.csv
input/basic_cd4_country.csv
input/panel1_specs-lab_cd4.csv
input/panel1_specs-lab_rna.csv
input/panel1_specs_lab_rna.csv
input/visit.csv
input/adult_prevalence.csv
output/*.avi
output/mapping*
output/*.png
output/scroll_images/*.png
output/*.html
*.docx
*.pdf
*.doc
.DS_STORE
.Rproj.user
*.Rproj
.Rhistory
*~
code/imagemagick